<!DOCTYPE html>
<html>
  <head>
    <!-- Обязательные мета-теги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <title>Главная</title>
  </head>
  <body>
    <h2>Тестовое задание на позицию Backend-разработчик Django в ПУЛЬСАР МСК</h2>
    <h3><a href="point1/">Точка 1</a></h3>
    <h3><a href="point2/">Точка 2</a></h3>
    <h3><a href="https://github.com/nkhaldi/Django/blob/main/pulsar_task/Task.md">Условие</a></h3>
    <h3><a href="https://github.com/nkhaldi/Django/blob/main/pulsar_task/">Решение</a></h3>
  </body>
</html>
